.define-grid {
  --cds-grid-gutter-start: none;
  padding-inline: unset;
}

.cds--tab-content {
  background: none !important;
  padding: unset;
}

.col-margin {
  margin: 0.5rem;
}

.cds--tabs--contained {
  border-bottom: 1px solid;
}

.cds--tabs.cds--tabs--contained .cds--tabs__nav-item.cds--tabs__nav-item--selected {
  box-shadow: none;
  border-bottom: 2px solid;
  background-color: unset;
}

.cds--tabs .cds--tabs__nav-link:focus,
.cds--tabs .cds--tabs__nav-link:active {
  outline: unset;
}

.buttons-wrapper-grid {
  position: absolute;
  bottom: 0px;
}

.button-wrapper {
  width: 100%;
  height: 48px;
  max-height: 48px;
}

.cancel-button {
  background-color: #6f6f6f !important;
  width: 99%;
  display: flex;
  justify-content: center;
}

.save-button {
  background-color: #393939 !important;
  width: 99%;
  display: flex;
  justify-content: center;
}

.save-button:hover,
.cancel-button:hover {
  opacity: 0.5;
}
