.dnd-flow {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.dnd-flow .reactflow-wrapper {
  display: flex;
  flex-grow: 1;
}

.dnd-flow .task-tray-container {
  display: flex;
  align-items: center;
  width: 74px;
}

.dnd-flow .task-activity-container {
  width: 100%;
  padding: 0px 0px 16px 16px;
  display: flex;
  position: sticky;
  background-color: #e2e2e2;
}

.react-flow__controls {
  left: initial !important;
}
